.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    position: relative
}

#deleteButton {
    font-size: 15px;
    background-color: red;
    padding: 0.2em 1em;
    position: absolute;
    cursor: pointer;
    right: 15px;
    bottom: 5px
}

#deleteButton:hover {
    color: white;
    font-size: 18px;
}